.dear {
    font-size: 150px;
    color: rgba(240, 248, 255, 0.749);
    margin-bottom: 100px;
}

.zebra {
    font-size: 150px;
    color: rgba(240, 248, 255, 0.85);
    margin-bottom: 100px;
}

.giant {
    font-size: 150px;
    color: rgba(240, 248, 255, 0.749);
    margin-bottom: 100px;
}

@media only screen and (max-width:576px) {
    .dear {
        font-size: 75px;
        margin-bottom: 0;
    }

    .giant {
        font-size: 80px;
        margin-bottom: 0;
    }

    .zebra {
        font-size: 80px;
        margin-bottom: 0;

    }

}