.facebook {
    width: 100%;
    height: 20px;
}

.twitter {
    width: 100%;
    height: 20px;

}

.google {
    width: 100%;
    height: 20px;

}

.youtube {
    width: 100%;
    height: 20px;

}

.github {
    width: 100%;
    height: 20px;

}

.footer {
    margin-top: 300px;

}